.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 220px);
    gap: 20px;
}

.loading {
    grid-column-start: 3;
}