.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 220px);
    gap: 20px;
}

.loading, .error {
    grid-column-start: 3;
    justify-self: center;
}

.error {
    text-align: center;
}

.error_button {
    text-decoration: none;
    background-color: var(--green);
    color: var(--cream);
    font-family: inherit;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}