
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.home_content {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.home_content_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.link {
    text-decoration: none;
    background-color: var(--green);
    text-align: center;
    padding: 10px 30px;
    color: var(--cream);
    border-radius: 15px;
}

.header {
    font-size: 4rem;
}