
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 10px 20px;
    height: 100px;
    background-color: #E3DBBB;
    /* box-shadow: inset 0px -2px 7px -4px #000000; */
}

.heading {
    color: #41431B;
}

.links {
    display: flex;
    column-gap: 10px;
}

.links > a {
    color: inherit;
    text-decoration: none;
}